[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
tribunalcraft = "4b9qTHcLrkjURroj8X9TCr8xKPNqDT7pNrCqi9brLiZX"

[programs.devnet]
tribunalcraft = "4b9qTHcLrkjURroj8X9TCr8xKPNqDT7pNrCqi9brLiZX"

[programs.mainnet]
tribunalcraft = "4b9qTHcLrkjURroj8X9TCr8xKPNqDT7pNrCqi9brLiZX"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
